<%
if(folders !== undefined && folders.length > 0) {
%>
<table id='folderFolders' class="listTable">
	<tr>
		<td colspan="2" class="listTable">Folders</td>
	</tr>
	<% for(var i = 0; i < folders.length; i++) { %>
	<tr class="folderRow" data-folder="<%= encodeURIComponent(JSON.stringify(folders[i])) %>">
		<td class="listTable"><a href="#" class="folderListItem" id="<%= 'f' + folders[i].folderId %>"><%= folders[i].folderName %></a></td>
		<td class="listTable"><a href="#" class="folderListItemAdd" id="<%= 'fadd' + folders[i].folderId %>">Add</a></td>
	</tr>
<% } %>
</table>
<%
}

if(mediaItems !== undefined && mediaItems.length > 0) {
%>
<table id='folderMediaItems' class="listTable">
	<tr>
		<td class="listTable">Track #</td>
		<td class="listTable">Song Name</td>
		<td class="listTable">Duration</td>
		<td class="listTable">Bitrate</td>
		<td><!-- Placeholder td for play column --></td>
		<td><!-- Placeholder td for add column --></td>
	</tr>
	<% for(var i = 0; i < mediaItems.length; i++) { 
		var stringTime = "";
		var hrs = Math.floor(mediaItems[i].duration / 3600);
		var mins = Math.floor((mediaItems[i].duration - (hrs * 3600)) / 60);
		var secs = Math.floor(mediaItems[i].duration - (hrs * 3600) - (mins * 60));

		if(hrs > 0) {
			stringTime += hrs + ":";
		}
		
		if(mins < 10 && hrs > 0) {
			stringTime += "0" + mins + ":";
		} else stringTime += mins + ":";

		if(secs < 10) {
			stringTime += "0" + secs;
		} else stringTime += secs;
	%>
	<tr class="songRow" data-mediaitem="<%= encodeURIComponent(JSON.stringify(mediaItems[i])) %>">
		<td class="listTable"><%= mediaItems[i].trackNumber %></td>
		<td class="listTable"><%= mediaItems[i].songName %></td>
		<td class="listTable"><%= stringTime %></td>
		<td class="listTable"><%= mediaItems[i].bitrate %></td>
		<td class="listTable"><a href="#" class="songListItem" id="<%= 'a' + mediaItems[i].itemId %>">Play</a></td>
		<td class="listTable"><a href="#" class="songListItemAdd" id="<%= 'add' + mediaItems[i].itemId %>">Add</a></td>
	</tr>
	<% } %>
</table>
<%
}
%>