<table id='songList' class="listTable">
	<tr>
		<td class="listTable">Track #</td>
		<td class="listTable">Song Name</td>
		<td class="listTable">Duration</td>
		<td class="listTable">Bitrate</td>
		<td><!-- Placeholder td for play column --></td>
		<td><!-- Placeholder td for add column --></td>
	</tr>
	<% for(var i = 0; i < songs.length; i++) { 
		var stringTime = "";
		var hrs = Math.floor(songs[i].duration / 3600);
		var mins = Math.floor((songs[i].duration - (hrs * 3600)) / 60);
		var secs = Math.floor(songs[i].duration - (hrs * 3600) - (mins * 60));

		if(hrs > 0) {
			stringTime += hrs + ":";
		}
		
		if(mins < 10 && hrs > 0) {
			stringTime += "0" + mins + ":";
		} else stringTime += mins + ":";

		if(secs < 10) {
			stringTime += "0" + secs;
		} else stringTime += secs;
	%>
	<tr class="songRow">
		<td class="listTable"><%= songs[i].trackNumber %></td>
		<td class="listTable"><%= songs[i].songName %></td>
		<td class="listTable"><%= stringTime %></td>
		<td class="listTable"><%= songs[i].bitrate %></td>
		<td class="listTable"><a href="#" class="songListItem" id="<%= 'a' + songs[i].itemId %>">Play</a></td>
		<td class="listTable"><a href="#" class="songListItemAdd" id="<%= 'add' + songs[i].itemId %>">Add</a></td>
	</tr>
	<% } %>
</table>